
<nav class="language-nav">
    <ul class = "language-nav">
        <li>CSS</li> 
        <li>HTML</li> 
        <li>Javascript</li> 
        <li>Ruby</li>
    </ul>
    <img src="assets/AA_Times_Logo.png">
    <ul class="masthead-links">
        <li>Tuesday, October 18, 2016</li>
        <li>Today’s Paper</li>
        <li>Video</li>
        <li>77°F</li>
        <li>AAO +100%</li>
    </ul>
</nav>